{% extends "layout.html" %}
{% block title %}Todo{% endblock %}
{% block styles %}
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{url_for( 
            'static', 
            filename='styles/todo.css'
        )}}"
    />
{% endblock %}
{% block body %}
    <div class="todo-container text-center">
        <h3 class="mb-4">{{name}}'s To-Do</h3>

        <div class="input-group mb-3">
            <input type="text" id="todo-input" class="form-control" placeholder="Add a new task...">
            <button class="btn btn-primary" id="add-btn">Add</button>
        </div>

        <ul class="list-group" id="todo-list">
            <li class="list-group-item d-flex justify-content-between align-items-center todo-item">
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox">
                    <span contenteditable="true">Make functional</span>
                </div>
                <div class="todo-actions">
                    <button class="delete-btn">&times;</button>
                </div>
            </li>

            <li class="completed list-group-item d-flex justify-content-between align-items-center todo-item">
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input me-2" type="checkbox">
                    <span contenteditable="true">Beautify</span>
                </div>
                <div class="todo-actions">
                    <button class="delete-btn">&times;</button>
                </div>
            </li>
        </ul>

        <small><a href="{{url_for('logout')}}">Sign Out</a></small>
    </div>
{% endblock %}