{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block styles %}
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{url_for(
            'static', 
            filename='styles/login.css'
        )}}"
    />
{% endblock %}
{% block body %}
    <div class="login-container">
    <h3 class="text-center mb-4">Login</h3>

    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email"
                required
            />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter your password"
                required
            />
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
  </div>
{% endblock %}